body {
  background: #D0D7FE;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-grow: 1;
  
}

.box {
  max-width: 1058px;
  max-height: 786px;
  width: 73vw;
  height: 76vh;
  margin: auto;
  background: #FFFFFF;
}